<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MPOS Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <link rel="stylesheet" href="home.page.scss"> -->
    <ion-toolbar>
      <ion-title size="large">MPOS Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <button (click)="scanQPos2Mode()" class="ButtonStyle">scan</button>
    <button (click)="dotrade()" class="ButtonStyle">start trade</button>
    <button (click)="disConnectBT()" class="ButtonStyle">disconnect</button>
    <button (click)="updateEMVConfigureByXml()" class="ButtonStyle">updateEMVConfigure</button>
  </div>
  
  <div id="tablediv" class="layui-table-body layui-table-main" style="height:300px;margin-top:10px;" >
        <table class="layui-table" lay-skin="line" style="overflow:auto; margin-top:10px; width:90%; margin-left: 5%; margin-right: 5%; text-align:left; border-collapse:separate; border-spacing:0px 10px;" id="bluTable">
            <colgroup>
                <col width="200">
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>Bluetooth Name</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
</div>

<textarea id="posResult" style="overflow:scroll; overflow-x:hidden; height:350px;width:90%; margin-top: 10px; margin-left: 5%; margin-right: 5%; margin-bottom: 20px; display: none;" readonly></textarea>
</ion-content>
